<style type="text/css">
	* { font-family:Arial;}
	
	th,td { text-align:center;}
	
	th {color:#88AA44
		}
		
		table { border-collapse: collapse;
				border: 3px #373;
				margin:0 auto;}
		 }
	.color{background-color:#FFFFCC}
	</style>
	
	/* Sin terminar */