
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 2px solid #777;
}

#cabecera { clear: both; padding-left: 1em; padding-right: 1em; padding-bottom: 1em; padding-top: 1em;}
#menu { clear: both; padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em; margin-bottom: 0.5em;}
#lateral { float: left; width: 20%; padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em; }
#contenido { float: right; width: 78%; padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em;}
#contenido #principal { float: left; width: 78%; padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em;}
#contenido #secundario { float: right; width: 20%; padding-left: 0.5em; padding-right: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em;}
#pie { clear: both; padding-bottom: 0.5em; padding-top: 0.5em;}

/*-- Cabecera --*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu --*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal --*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página --*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }


